[user]
	email = he.andrew.mail@gmail.com
	name = Andrew He
[push]
	default = simple
[alias]
	st = status
	fe = fetch
	co = checkout
	br = branch
	cm = commit
	ca = commit -a
	caa = commit -a --amend
	rb = rebase
[core]
	excludesfile = /home/andrew/.gitignore_global
[merge]
	conflictstyle = diff3
