[core]
	editor = vim
[user]
	email = he.andrew.mail@gmail.com
	name = Andrew He
[push]
	default = simple
[alias]
	st = status -sb
	fe = fetch
	fa = fetch --all
	co = checkout
	br = branch
	cm = commit
	ca = commit -a
	caa = commit -a --amend
	rb = rebase
	l = log --oneline --graph --decorate --pretty="%C(auto)%h\\ %s\\ %C(green)(%ar)%C(auto)\\ %C(blue)<%an>%C(auto)%d"
	ls = log --oneline --graph --decorate --pretty="%C(auto)%h\\ %s\\ %C(green)(%ar)%C(auto)\\ %C(blue)<%an>%C(auto)%d" --stat
	lp = log --oneline --graph --decorate --pretty="%C(auto)%h\\ %s\\ %C(green)(%ar)%C(auto)\\ %C(blue)<%an>%C(auto)%d" -p
	la = log --oneline --graph --decorate --pretty="%C(auto)%h\\ %s\\ %C(green)(%ar)%C(auto)\\ %C(blue)<%an>%C(auto)%d" --all
	git = !git
[core]
	excludesfile = ~/.gitignore_global
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
[gitsh]
	defaultCommand = st
