[core]
	editor = nvim
[user]
	email = he.andrew.mail@gmail.com
	name = Andrew He
[push]
	default = simple
[alias]
	st = status -sb
	fe = fetch --tags -f
	fa = fe --all
	cl = clone --recursive
	#bs = switch --recurse-submodules
	bs = switch
	bsd = bs --detach
	bnew = switch --no-track -c
	br = branch
	c = commit
	ca = commit --amend --no-edit
	rb = rebase
	l = log --oneline --graph --decorate --pretty=myline
	la = l --all
	ls = l --pretty=myfull --stat
	lp = l --pretty=myfull --patch
	ff = merge --ff-only
	d = diff
	dw = d --word-diff=plain
	dc = dw --word-diff-regex=.
	track = add -N

	git = !git
	g = !git
	arc = !arc
	lazy = !lazygit
[core]
	excludesFile = ~/.gitignore_global
	autocrlf = input
[merge]
	conflictStyle = diff3
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
[gitsh]
	defaultCommand = st
[pretty]
	myline = %C(auto)%h %s %C(green)(%cr)%C(auto) %C(blue)<%an>%C(auto)%d
	myfull = format:%C(auto)%h %C(bold)%s%C(auto) %d%nAuthor: %C(blue)%an <%ae>%C(auto)%nAuthor Date: %C(green)%ad (%ar)%C(auto)%nCommitter: %C(blue)%cn <%ce>%C(auto)%nCommitter Date: %C(green)%cd (%cr)%C(auto)%n%w(76,4,4)%+b
