#!/bin/zsh

XUSERFILESEARCHPATH=/home/andrew/.app-defaults/%N%C
export XUSERFILESEARCHPATH

unset SSH_ASKPASS

xset mouse 2/1 0 &

syndaemon -K -i 1 -d &

#[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap &

xkbcomp -I$HOME/.xkb $HOME/.xkb/keymap/default $DISPLAY

[ -f ~/.xbindkeysrc ] && xbindkeys &

[ -f ~/.Xresources ] && xrdb ~/.Xresources &

[ -f ~/.screenlayout/auto-config.sh ] && srandrd ~/.screenlayout/auto-config.sh && ~/.screenlayout/auto-config.sh &

[ -f ~/.fehbg] && ~/.fehbg &

start-pulseaudio-x11

eval `ssh-agent`

~/.starttray.sh &
