#!/bin/bash

XUSERFILESEARCHPATH=/home/andrew/.app-defaults/%N%C
export XUSERFILESEARCHPATH

xrandr --output VGA1 --mode 1920x1200 --rate 59.9 --pos 0x0 --primary &
xrandr --output LVDS1 --mode 1280x800 --rate 59.9 --pos 1920x400 &

dropbox start -i &

xset mouse 2/1 0 &

[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap &

sh ~/.fehbg &
