#!/bin/bash

XUSERFILESEARCHPATH=/home/andrew/.app-defaults/%N%C
export XUSERFILESEARCHPATH

eval `ssh-agent`

dropbox start -i &

xset mouse 2/1 0 &

syndaemon -K -i 1 -d &

[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap &

[ -f ~/.xbindkeysrc ] && xbindkeys &

[ -f ~/.Xresources ] && xrdb ~/.Xresources &

[ -f ~/.screenlayout/auto-config.sh ] && srandrd ~/.screenlayout/auto-config.sh && ~/.screenlayout/auto-config.sh &

[ -f ~/.fehbg] && ~/.fehbg &

start-pulseaudio-x11
pasystray &
nm-applet &
