*customization: -color
*StringConversionWarnings: on

URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:DejaVu Sans Mono for Powerline:size=9
URxvt*letterSpace: -2
!URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*saveLines: 5000
!URxvt*termName: rxvt-unicode-256color

URxvt.perl-ext-common: default,selection-to-clipboard,url-select,fullscreen,font-size

URxvt.keysym.C-i: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.colorUL: #4682B4

URxvt.keysym.F11: perl:fullscreen:switch

! Changing font size
URxvt.keysym.C-Up:		perl:font-size:increase
URxvt.keysym.C-Down:	perl:font-size:decrease
URxvt.keysym.C-S-Up:    perl:font-size:incglobal
URxvt.keysym.C-S-Down:  perl:font-size:decglobal
URxvt.keysym.C-0:		perl:font-size:reset

! Disable Ctrl-Shift for keycap insert
URxvt.iso14755: false
URxvt.iso14755_52: false

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900


! Dark

! #define S_base03 #002b30
! #define S_base02 #073642
! #define S_base01 #586e75
! #define S_base00 #657b83
! #define S_base0 #839496
! #define S_base1 #93a1a1
! #define S_base2 #eee8d5
! #define S_base3 #fdf6e3


! Light

#define S_base03 #fdf6e3
#define S_base02 #eee8d5
#define S_base01 #93a1a1
#define S_base00 #839496
#define S_base0 #657b83
#define S_base1 #586e75
#define S_base2 #073642
#define S_base3 #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background: S_base03

URxvt*background: S_base03
URxvt*foreground: S_base0
URxvt*fading: 40
URxvt*fadeColor: S_base03
URxvt*cursorColor: S_base1
URxvt*pointerColorBackground: S_base01
URxvt*pointerColorForeground: S_base1

URxvt*color0: S_base02
URxvt*color1: S_red
URxvt*color2: S_green
URxvt*color3: S_yellow
URxvt*color4: S_blue
URxvt*color5: S_magenta
URxvt*color6: S_cyan
URxvt*color7: S_base2
URxvt*color9: S_orange
URxvt*color8: S_base03
URxvt*color10: S_base01
URxvt*color11: S_base00
URxvt*color12: S_base0
URxvt*color13: S_violet
URxvt*color14: S_base1
URxvt*color15: S_base3

